* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Pointer */
#miniPointer, #pointer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px white;
    position: absolute;
    transform-origin: center center;
    top: 0;
    bottom: 0;
    z-index: 999;
    pointer-events: none
}

#miniPointer {
    width: 10px;
    height: 10px;
}

.returnArrow {
    position: absolute;
    top: 4rem; 
    left: 4rem;
    font-size: 2rem;
    background-color: aliceblue;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    color: #232323;
}

.returnArrow .fa-arrow-rotate-left {
    transform-origin: center center;
    transition: all 0.5s ease;
}

.returnArrow:hover .fa-arrow-rotate-left {
    transform: rotate(-360deg);
}

.w0 {
    border: none;
    width: 0 !important;
}

.opacity0 {
    opacity: 0;
}

h1 {
    text-align: center;
}

body {
    
    background-color: #232323;    
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

body.home {
    height: 100vh;
    position: relative;
}

main.home {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.button {
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
    width: 15rem;
    height: 10rem;
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
}

.clickMe {
    background-color: #ff0000;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    top: 0;
    left: 0;
    position: absolute;
    transition: transform .1s ease;
    transform-origin: center bottom;
}

.spawnButton {
    
    animation: buttonStartAnimation 2s ease;
}

.spawnBottomButton {
    animation: bottomButtonStartAnimation 1s ease;
}

.spawnBottomButtonNext {
    opacity: 1 !important;
}

@keyframes buttonStartAnimation {
    0% {
        transform: scale(0) translateY(30%);
    }

    50% {
        transform: scale(1) translateY(30%);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes bottomButtonStartAnimation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scale(1);
    }
}



.clickMe:hover {
    transform: translateY(0.2rem);
}

.button .pressed {
    transform: translateY(30%);
}

.button .bottom_pressed {
    transform: scaleY(0);
}

.clickMe:hover::after {
    z-index: -1;
}

.bottom_button>div:first-of-type {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #940000;
    transform-origin: center bottom;
    transition: transform .1s ease;
}

.bottom_button>div:last-of-type {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -30%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #940000;
    opacity: 0;

}

/****************Text section***************/

.porfolio_section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottom_section {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.info_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: aliceblue;
    font-size: 1.5rem;
    transform: translateX(-1000px);
    transition: transform 1s ease;
}

.info_container .main_info {
    width: fit-content;
    margin-top: 3rem;
    display: grid;
    align-items: flex-end;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.info_container .main_info p:nth-child(odd) {
    display: flex;
    justify-content: end;
}

.info_container img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.infoAppear {
    transform: translateX(0);
}

.name_section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 4rem;
    color: aliceblue;
}

.name_container {
    border-radius: 25px;
    overflow: hidden;
    max-width: 100%;
    width: 460px;
    height: 4rem;
    border: solid 2px aliceblue;
    position: relative;
    display: flex;
    align-items: center;
    transform-origin: center;
    transition: width 1s ease;
}

.chargingBar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0, 1);
    background-color: aliceblue;
    transform-origin: left;
    transition: transform 0.5s ease;
}


.name_section h1 {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    opacity: 0;
    /* background-color: aliceblue; */
}


.name_section .appear {
    opacity: 1;
}

.name_section p {
    transform: translateY(-4rem);
    font-size: 2rem;
    opacity: 0;
    transition: transform 0.5s ease;
}

.name_section .devMove {
    opacity: 1;
    transform: translateY(0);
}


/*********social section*********/

.social_section {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5rem;
}

.social_section > .bar {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 8rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: aliceblue;
    border-radius: 70px 0 0 70px;
    transform: translate(130%, -10rem);
    z-index: 2;
}


.social_section > .socialMove {
    animation: socialAnimation 4s ease forwards;
}

.social_section i {
    color: white;
    font-size: 4rem;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.social_section i {
    opacity: 1;
    
}

.social_section a:first-of-type i {
    transition: opacity 0.5s 0s ease, transform 0.3s ease;
}

.social_section a:nth-of-type(2) i {
    transition: opacity 0.5s .3s ease, transform 0.3s ease;
}

.social_section a:last-of-type i {
    transition: opacity 0.5s .6s ease, transform 0.3s ease;
}

.opacity0 {
    opacity: 0 !important;
}

.social_section i:hover {
    transform: scale(1.2);
}

@keyframes socialAnimation {
    0% {
        transform: translate(130%, -10rem);
    }
    
    30% {
        transform: translate(30%, -10rem);
    }

    70% {
        transform: translate(30%, 30rem);
    }

    100% {
        transform: translate(130%, 30rem);
    }
}

.displayNone {
    opacity: 0 !important;
}









/****************************Skills section***********************************/




.skills_section {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 8rem;
    color: aliceblue;
}

.skills_section h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

main.skill_page {
    width: 100%;
}

.skills_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 5rem;
}

.X_container {
    grid-column: span 1/3;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.X_container p {
    position: relative;
    flex: 1;
    font-size: 2rem;
    text-align: end;
}

.X_container span {
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0.5;
    background-color: aliceblue;
    width: 1px;
    height: 40rem;
}

.graphic_element {
    padding: 1rem 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-right:solid 1px aliceblue;
}

.graphic_element_line {
    padding: 1rem 0;
}

.line {
    height: 100%;
    transition: width 1s ease, opacity 1s ease;
}

.html {
    width: 95%;
    background-color: #e34c26;
}

.fa-html5 {
    color: #e34c26;
}

.css {
    width: 85%;
    background-color: #264de4;
}

.fa-css3-alt {
    color: #264de4;
}

.js {
    width: 80%;
    background-color: #F0DB4F;
}

.fa-square-js {
    color: #F0DB4F;
}

.php {
    width: 90%;
    background-color: #AEB2D5;
}

.fa-php {
    color: #AEB2D5;
}

.laravel {
    width: 70%;
    background-color: #f05340;
}

.fa-laravel {
    color: #f05340;
}

.sql {
    width: 60%;
    background-color: #00758f;
}

.fa-database {
    color: #00758f;
}

.scss {
    width: 40%;
    background-color: #cd6799;
}

.fa-sass {
    color: #cd6799;
}

.wordpress {
    width: 30%;
    background-color: #21759b;
}

.fa-wordpress {
    color: #21759b;
}

/* Porfolio Section */

.skill_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill_page h2 {
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 2rem;
}

.exemple_section {
    min-height: 100vh;

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.exemple_section .pc {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
}

.exemple_section .legend {
    display: flex;
    gap: 3rem;
    margin-left: 3rem;
    width: 25%;
    color: aliceblue;
    font-size: 150%;

    transform: translateY(-3rem);
    overflow: hidden;
}

.exemple_section .legend > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 100%;
    transition: transform .5s ease;
}

.exemple_section .legend p {
    line-height: 1.3;
}

.exemple_section .pc_screen {
    max-width: 70rem;
    height: 40rem;
    max-height: 40rem;
    min-width: 20rem;
    background-color: white;
    border-radius: 25px;
    border: 2rem #0e0e0e solid ;
    
    z-index: 2;

    transform: translateY(3rem);

}

.exemple_section .pc_screen > div {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

}

.exemple_section .pc_screen > div > div {
    display: flex;
    transition: transform 1s ease;
}

.exemple_section .pc_screen > div > div > div {
    min-width: 100%;
    overflow-y: hidden;
}

.exemple_section img {
    width: 100%;
    min-height: fit-content;
}

.exemple_section .pc_feet {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 300px 200px 300px;
    border-color: transparent transparent #0e0e0e transparent;


    transform: translateY(-1rem);
}

.exemple_section .pc_button_container {

    width: fit-content;

    display: flex;
    gap: 2rem;

    transform: translateY(-7rem);
}

.exemple_section .pc_button_container button {
    border: none;
    box-shadow: none;

    width: 3rem;
    height: 3rem;
    
    border-radius: 50%;

    background-color: rgb(100, 103, 105);

    font-size: 1.5rem;

    cursor: pointer;
    transition: background 0.3s ease;
}

.exemple_section .pc_button_container button:hover {
    background-color: aliceblue;
}


@media (max-width: 1000px) {
    body {
        height: auto;
    }

    #miniPointer, #pointer {
        display: none;
    }
    
    .name_section {
        padding-top: 2rem;
        margin: 0;
    }
    .porfolio_section {
        gap: 2rem;
    }
    .bottom_section {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .button {
        width: 8rem;
        height: 5rem;
        position: fixed;
        bottom: 3rem;
    }
    .bar {
        display: none !important;
    }
    .social_section {
        padding: 1rem;
        width: 100%;
        max-width: 28rem;
        gap: 0;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10rem;
    }

    
    

    .graphic_element p {
        display: none;
    }

    .skills_container {
        grid-template-columns: 1fr 20fr;
    }

    .skills_section {
        padding: 3rem 1rem;
    }

    .X_container span { 
        height: 37rem;
    }

    .exemple_section {
        padding: 0.5rem;
    }

    .exemple_section .pc_screen {
        border: 1.5rem #0e0e0e solid ;
    }
    
    .returnArrow {
        top: 1rem;
        left: 1rem;
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
    }
    

}

@media (max-width: 1100px) {
    .exemple_section .legend {
        display: none;
    }

    .exemple_section .pc_feet {
        display: none;
    }

    .exemple_section .pc_button_container {
        transform: translateY(5rem);
    }
}